<!doctype html>
<html lang="en">
    <head>
        <title>{{ status }} {{ status_code }}</title>
    </head>
    <body>
        <center><h1>{{ status }} {{ status_code }}</h1></center>
        <hr />
        <center>damas</center>
    </body>
</html>
