<!doctype html>
<html lang="en">
    <head>
        <title>Index of {{ should_visible_path }}</title>
    </head>
    <body>
        <h1>Index of {{ should_visible_path }}</h1>
        <ul>
            {% for file in files %}
            <li><a href="{{ file }}">{{ file }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>
