server {
    listen 80
    server-name "127.0.0.1"
    location "/" {
        root "/var/www/html"
        index "index.html" "index.htm"
        autoindex true
    }
    location "/location" {
        root "/var/www/html"
        index "index.html" "index.htm"
        autoindex true
    }
    error-page "/40x.html" {
        root "/var/www/html"
        files {
            code 400 "400.html"
            code 401 "unauthorized.html"
            code 402 "402.html"
            code 404 "forbidden.html"
        }
    }
    error-page "/50x.html" {
        root "/var/www/html"
        files {
            code 500 "500.html"
        }
    }

    connection-buffer-size 4096
    file-read-buffer-size 8192
    max-header-count 64
}
